<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
		jQuery.post('/pics', {
			'url' : 'pics/hah.jpg',
		});
		jQuery.post('/pics', {
			'url' : 'pics/yo.jpg',
		});
		jQuery.post('/pics', {
			'url' : 'pics/whooo.jpg',
		});

		/*jQuery.ajax({
		    url: "/pics/55f42088fb32f4e8cd914fa9/upvote", 
		    type: "PUT",
		    success: function (data, textStatus, jqXHR) { 
		        console.log("Post resposne:"); 
		        console.dir(data); 
		        console.log(textStatus); 
		        console.dir(jqXHR); 
		    }
		});*/
	</script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
